ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
    background:hsl(347, 75%, 63%); /*добавляем фон всему меню*/
    height: 50px; /*задаем высоту*/
    width:41%;
  }
  a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:salmon; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 
    border-right: 1px solid rgb(179, 59, 59); /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
  }
  a:hover {
    background:#331313;/*добавляем эффект при наведении*/
  }
  li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    position:relative; /*задаем позицию для позиционирования*/
  }
       
      /*Стили для скрытого выпадающего меню*/
      li > ul {
          position:absolute;
          top:50px;
          display:none;   
      }
.top-menu {
    margin: 0;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.ert{
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}
.text{
  background-color: darksalmon;
  text-align: center;
}
body,html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: coral;
  padding: 60PX;
  flex-shrink: 0;
}